phone_mapper @ git+https://github.com/martijnbentum/phone_mapper
phraser @ git+https://github.com/martijnbentum/phraser.git
progressbar2
pytest
ipython
matplotlib
echoframe @ git+https://git@github.com/martijnbentum/echoframe.git
to-vector @ git+https://github.com/martijnbentum/to_vector.git
numpy
scipy
scikit-learn
umap-learn
praat-parselmouth
