phone_mapper @ git+https://github.com/martijnbentum/phone_mapper
phraser @ git+https://github.com/martijnbentum/phraser.git
progressbar2
pytest
ipython
echoframe @ git+https://git@github.com/martijnbentum/echoframe.git
numpy
pandas
scipy
scikit-learn
praat-parselmouth
